::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
-ms-overflow-style: none !important;
}

body {
  overflow: hidden;
}

.btn-primary {
  background-color: #ff8d3a !important;
  border-color: #ff8d3a !important;
}

.btn-primary:hover {
  background-color: #ef6b09 !important;
  border-color: #ff8d3a !important;
}

.btn-primary:active, .btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.scroll-row {
  height: 100vh;
}

.scroll-col {
  height: 90%;
  overflow-y: scroll;
}

.focus-video {
  width: auto;
  height: auto;
  max-height: 50vh;
  min-height: 25vh;
}

.video-library-card {
    width: auto;
    height: auto;
    max-height: 50vh;
    min-height: 20vh;
}

.range-slider .range-slider__range {
  color: #ff8d3a;
  background: #ff8d3a;
}

.range-slider .range-slider__thumb {
  color: #ef6b09;
  background: #ef6b09;
}
